<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>EAAT</title>
  </head>
  <body>
    <h1>User Options</h1>
    <a href="/home">Go back to Home</a><br />
    <p></p>
    <form action="/fetch_emails" method="post">
      <input
        type="text"
        id="num_of_emails"
        placeholder="Number of emails to fetch"
        name="num_of_emails"
      />
      <button type="submit">Fetch Emails</button><br />
    </form>
    <br />
  </body>
</html>
